/* src/components/SnowBackground.css */
.snow-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: background 0.3s ease;
}
.dark-glow-text {
  -webkit-text-fill-color: transparent;
}

/* Dark mode background */
.snow-container.dark {
  background: linear-gradient(
    90deg,
    rgb(36, 0, 0) 0%,
    rgb(121, 9, 58) 35%,
    rgb(8, 32, 190) 100%
  );
}

/* Light mode background */
.snow-container.light {
  background: #ffffffdc;
}

/* Snowflake styling (if using manual snowflakes) */

/* Dark mode support */
@media (prefers-color-scheme: dark) {
  .project-card-gradient {
    background: linear-gradient(10deg,
    rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 35%,
      rgba(0, 212, 255, 1) 100%);
  }
}
